<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79853771957-cb9li86kmnisec6259mrnkaucj6qs59r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79853771957-cb9li86kmnisec6259mrnkaucj6qs59r</string>
	<key>API_KEY</key>
	<string>AIzaSyAvG7vI8d3TkejV6fT_YFGxfnuBz8XTSwk</string>
	<key>GCM_SENDER_ID</key>
	<string>79853771957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.bowskietech.InstagramUpdate</string>
	<key>PROJECT_ID</key>
	<string>instagramupdate-99aec</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramupdate-99aec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79853771957:ios:e32be4d74f2211bdddb2fc</string>
</dict>
</plist>